/src/*.pyc
/data/artists/*.txt
/data/from_links/*.txt
/data/networks/*.txt
/data/popularity/*.txt
/data/prob/*.txt
/data/random/*.txt
/data/readable/*.txt
/data/to_links/*.txt
/data/unreadable/*.txt
/data/xml_artists/*.txt


