/src/*.pyc
/data/artists/*
/data/from_links/*
/data/networks/*
/data/popularity/*
/data/prob/*
/data/random/*
/data/readable/*
/data/to_links/*
/data/unreadable/*
/data/xml_artists/*

!/data/artists/.keep
!/data/from_links/.keep
!/data/networks/.keep
!/data/popularity/.keep
!/data/prob/.keep
!/data/random/.keep
!/data/readable/.keep
!/data/to_links/.keep
!/data/unreadable/.keep
!/data/xml_artists/.keep



